<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('./partials/navigation', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>
  <main>
    <h1 class="heading">Newest product</h1>
    <% if (typeof newestProduct !== 'undefined' && Object.keys(newestProduct).length > 0) { %>
      <div>
         <p>New product data - Name: <%= newestProduct.name %>, Description: <%= newestProduct.description %></p>
      </div>
    <% } else { %>
      <div>No new products</div>
    <% } %>
  </main>
</body>
</html>